* {
	padding: 0;
	margin: 0;
}

html, body, .center {
	height: 100%;
}

.center {
	padding: 0px 0px;
}

body {
	font-family: 'Karla', sans-serif;
	background: hsl(204, 43%, 93%);
}

.main-container {
	max-width: 650px;
	box-shadow: 1px 1px 14px  hsl(218, 22%, 67%);
	background: hsl(204, 43%, 93%);
	  border-radius: 5px 20px 5px;

}

/* Top Row */
.top-row {
	background: white;
}
.top-col h5, p {
	padding: 2px 40px;
}
.top-row-title {
	color: hsl(179, 62%, 43%);
	font-weight:700;
	padding: 0px 40px 12px 40px;
	font-size:1.3em;

}
.top-row-subtitle {
	color: hsl(71, 73%, 54%);
	font-size:1.1em;

}

.top-row-p {
	color: hsl(218, 22%, 67%);
	font-size:.9em;

}

.top-col {
	padding: 40px 0px 20px 0px;
}


/* Bottom Row Left */
.bottom-row-left {
	background-color: hsl(179, 62%, 43%);
	color: white;
	padding-bottom: 28px;
}

.bottom-row-left h4 {
	margin: 40px 0px -1px 20px;
	font-size:1.2em;
		font-weight: 700;

}

.bottom-row-left p {
	padding: 0px 0px 0px 20px;
	color: hsl(204, 43%, 93%);
}

.bottom-row-left button {
	margin: 10px 0px 10px 20px;
	padding: 10px 90px;
	background: hsl(71, 73%, 54%);
	color: white;

}
.price{
	display: flex;
	flex-direction:row;
	padding: 8px 0px 0px 20px;
}
.price p{
	padding:0 8px;
	padding-top:12px;
	font-size:.85em;
}
span {
	font-size: 2em;
	color: white;
	font-weight:700;
}

/* Bottom Row Right */

.bottom-row-right {
	color: white;
	background: rgb(74, 191, 190);
	padding-bottom:28px;	
}

.bottom-row-right h4 {
	margin: 40px 0px 15px 20px;
	font-size:1.1em;
	font-weight: 700;
}

.bottom-row-right ul {
	margin: 10px 0px 0px 20px;
}

.bottom-row-right li {
	margin: 0px 0px 1px 0px;
	font-size: .8em;
	font-weight: normal;
	color: hsl(204, 43%, 93%);
}
